<div class="company-section mt-5">

    <div class="row text-center mb-4">
      <div class="col-md-12 mb-4">
        <h3 class="text-uppercase dark-text-color mt-4">Labournet Legecy</h3>
      </div>
      <div class="col-md-3">
        <h3 class="primary-text-color count-section-title">140+</h3>
        <h6>Training Institutes</h6>
      </div>
      <div class="col-md-3">
        <h3 class="primary-text-color count-section-title">900+</h3>
        <h6>Qualified Trainers</h6>
      </div>
      <div class="col-md-3">
        <h3 class="primary-text-color count-section-title">170+</h3>
        <h6>Job Oriented Courses</h6>
      </div>
      <div class="col-md-3">
        <h3 class="primary-text-color count-section-title">1.2Mn</h3>
        <h6 class="dark-text-color">People Skilled</h6>
      </div>
    </div>

</div>

<div class="container mt-3">

    <div class="row text-center mb-2">
      <div class="col-md-12 mb-4">
        <h3 class="text-uppercase primary-text-color mt-4">Labournet Legecy</h3>
        <h5 class="mt-3 la-text">Achieve your aspirational career goals by skilling, up-skliing <br> and re-skilling the industry-relevant skills you need</h5>
        <p class="mt-3">With the legacy of labournet, labournet academy offers industry orient courses for individuals to realize their dream career. The domain experts of labournet academy from over 15 industry sectors including beauty and wellness, banking, technology, retail, healthcare, logistics, meticulously, structured the course curriculum based on industry demands.</p>
      </div>
    </div>

</div>


<div class="mt-3  text-center primary-bg-color lb-section">
    <div class="row mt-5">
      <div class="col-md-12">
        <h3 class="text-white la-text text-uppercase">Courses by sectors</h3>
      </div>
    </div>
    <div class="row text-center mt-3 primary-bg-color">
      <div class="col">
        <img src="{{{beauty}}}" class="custom-img-thumbnail" alt="">
        <h5 class="text-white mt-3 la-text text-capitalize">beauty & wellness</h5>
      </div>
      <div class="col">
        <img src="{{{automotive}}}" class="custom-img-thumbnail" alt="">
        <h5 class="text-white mt-3 la-text text-capitalize">automotive</h5>
      </div>
      <div class="col">
        <img src="{{{fashion}}}" class="custom-img-thumbnail" alt="">
        <h5 class="text-white mt-3 la-text text-capitalize">apparel & Fashion</h5>
      </div>
      <div class="col">
        <img src="{{{logistics}}}" class="custom-img-thumbnail" alt="">
        <h5 class="text-white mt-3 la-text text-capitalize">Logistics</h5>
      </div>
      <div class="col">
        <img src="{{{technology}}}" class="custom-img-thumbnail" alt="">
        <h5 class="text-white mt-3 la-text text-capitalize">Technology</h5>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <a href="/course/index.php" class="btn-primary-white-outline transformation">All Courses</a>
      </div>
    </div>

</div>
