
<div class="container mt-3 text-center">

  <div class="row mt-5">
    <div class="col-sm-12 mb-3 ">
      <h3 class="primary-text-color text-uppercase">contact for registration</h3>
    </div>
  </div>

  <form class="form-inline row mt-3" action="" method="post">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-5 mt-3">
            <input type="text" placeholder="Search Courses" name="search" class="input-border-blue transformation full-width-text-input search-text-input  form-control search-input">
        </div>
        <div class="col-md-3 no-margin-bottom mt-3">
            <input type="text" placeholder="Sector" name="" class="input-border-blue transformation full-width-text-input search-text-input  form-control search-input ">
        </div>
        <div class="col-md-4 mt-3">
            <input type="text" placeholder="Mode of Delivery" name="" class="input-border-blue transformation full-width-text-input search-text-input  form-control search-input ">
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-4">
      <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-5 mt-3">
            <input type="text" placeholder="Search Courses" name="search" class="input-border-blue transformation full-width-text-input search-text-input  form-control search-input">
        </div>
        <div class="col-md-3 no-margin-bottom mt-3">
            <input type="text" placeholder="Sector" name="" class="input-border-blue transformation full-width-text-input search-text-input  form-control search-input ">
        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>

      <div class="col-md-12 mt-4">
          <button type="submit" class="btn-custom-primary transformation btn" value="Search">Submit</button>
      </div>
      <!-- <button type="submit" class="btn search-btn" value="Search"><i class="fa fa-search"></i></button> -->

  </form><!--//search-form-->

</div>
