{{#usefeaturedblocks}}

<div class="featured-section">

	{{#featuredsectiontitle}}
		<h3 class="text-uppercase primary-text-color text-center ">{{{featuredsectiontitle}}}</h3>
    {{/featuredsectiontitle}}

    <div class="container-fluid mt-4">
	    <div class="section-inner">
		    <div class="featured-carousel owl-carousel owl-theme">

			    {{#featuredblocks}}
				    {{#hasblock}}
				    <div class="item  text-center item-{{{blockcount}}}">
					    <div class=" custom-feature-item">
						    {{#blockimage}}
						    <div class="thumb-holder">
							    <div class="thumb-holder-inner">
							    </div>
									<!--//thumb-holder-inner-->
						    </div><!--//thumb-holder-->
						    {{/blockimage}}
						    <div class="item-content">
							    {{#blocktitle}}
							    <h3 class="custom-item-title primary-text-color ">{{{blocktitle}}}</h3>
									<h5 class="custom-course-stats">1002 Learners | Hybrid Course</h5>
							    {{/blocktitle}}
									<div class="row mt-4">
										<div class="col-xs-6 ">
											<div class="row">
												<div class="col-xs-4">
													<img src="{{{hours}}}" alt="">
												</div>
												<div class="col-xs-8 text-left">
													<h5 class="custom-course-stats">80 hrs Online & 120 hrs Classroom</h5>
												</div>
											</div>
										</div>
										<div class="col-xs-6 ">
											<div class="row">
												<div class="col-xs-4">
													<img src="{{{certification}}}" alt="">
												</div>
												<div class="col-xs-8 text-left">
													<h5 class="custom-course-stats">Certification Course</h5>
												</div>
											</div>
										</div>
									</div>
							    {{#blockcontent}}
							    {{/blockcontent}}
						    </div><!--//item-content-->
						    {{#blockurl}}
						    <a class="item-link" href="{{{blockurl}}}"></a>
						    {{/blockurl}}
					    </div><!--//item-inner-->
					    {{#blocklabel}}
					    <span class="item-label">{{{blocklabel}}}</span>
					    {{/blocklabel}}
				    </div><!--//item-->
				    {{/hasblock}}
			    {{/featuredblocks}}


			</div><!--//course-carousel-->
		</div><!--//section-inner-->
		<div class="row mt-5">
			<div class="col-md-12 text-center">
					<a href="/course/index.php" class="btn-custom-primary transformation btn">All Courses</a>
			</div>
		</div>

    </div><!--//container-fluid-->
</div><!--//featured-section-->


{{/usefeaturedblocks}}
