{{#hassearch}}
<div class="primary-bg-color text-center search-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 mb-3">
          <h4 class="text-white text-uppercase">explore the courses</h4>
          <h5 class="text-white">Journey for aspirational courses begines here</h5>
        </div>
      </div>
	    <div class="">
	        <form class="form-inline search-form row" action="{{{ config.wwwroot }}}/course/search.php" method="get">
            <div class="col-md-3">

            </div>
              <div class="col-md-5">
                  <input type="text" placeholder="Search Courses" name="search" class="full-width-text-input search-text-input  form-control search-input">
              </div>
              <!-- <div class="col-md-3 no-margin-bottom">
                  <input type="text" placeholder="Sector" name="" class="full-width-text-input search-text-input  form-control search-input ">
              </div>
              <div class="col-md-4 ">
                  <input type="text" placeholder="Mode of Delivery" name="" class="full-width-text-input search-text-input  form-control search-input ">
              </div> -->
              <div class="col-md-1">
                  <button type="submit" class="btn white-blue-btn" value="Search">Go</button>
              </div>
              <div class="col-md-3">

              </div>
	            <!-- <button type="submit" class="btn search-btn" value="Search"><i class="fa fa-search"></i></button> -->

	        </form><!--//search-form-->
	    </div>
    </div><!--//contianer-->
</div><!--//search-courses-section-->
{{/hassearch}}
