{{#usetestimonials}}
<div class="custom-testimonial-section text-center">
    <div class="container-fluid">
	    {{#testimonialsectiontitle}}
      <!-- //section-title -->
	    <h3 class="text-uppercase text-center primary-text-color mt-5">
		    {{{testimonialsectiontitle}}}
	    </h3>
	    {{/testimonialsectiontitle}}

	    <div class="custom-section-inner mt-5 mb-5">
		    <div class="testimonial-carousel owl-carousel owl-theme">
			    {{#testimonials}}
			    {{#hastestimonial}}
			    <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
              {{^testimonialimage}}
              <div class="profile">
                <img src="{{{defaultimage}}}" alt="image"/>
              </div>
              {{/testimonialimage}}

              {{#testimonialimage}}
              <div class="profile">
                <img src="{{{testimonialimage}}}" alt="image"/>
              </div>
              {{/testimonialimage}}

            </div>
            <div class="col-md-8 ">
              <div class="quote-holder">
                <div class="quote-content">
                  {{{testimonial}}}
                </div>

              </div><!--//quote-holder-->

              <div class="meta mb-3">
                {{#testimonialname}}
                <div class="name primary-text-color">{{{testimonialname}}}</div>
                {{/testimonialname}}
                {{#testimonialmeta}}
                <div class="info primary-text-color">{{{testimonialmeta}}}</div>
                {{/testimonialmeta}}
              </div>

            </div>
			    </div><!--//item-->
			    {{/hastestimonial}}
			    {{/testimonials}}

		    </div><!--//testimonial-carousel-->
	    </div><!--//section-inner-->
    </div><!--//container-fluid-->
</div><!--//testimonial-section-->
{{/usetestimonials}}
